<!-- app/views/homepage/index.html.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness App</title>
    <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <header>
        <h1>Welcome to SBZ Fitness </h1>
        <nav>
        <div class="logo">
            <%= link_to root_path do %>
                <%= image_tag "logo.png", alt: "SBZ Fitness Logo" %>
            <% end %>
        </div>
            <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Plans", workouts_path %></li>
                <li><%= link_to "Exercises", exercises_path %></li>
                <li><%= link_to "Log In", login_path %></li>
                <li><%= link_to "Sign Up", signup_path %></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h2>Your Fitness Journey Starts Here</h2>
            <p>Track your workouts, set goals, and stay motivated!</p>
            <%= link_to "Get Started", signup_path, class: "btn" %>
        </section>
        <section class="features">
            <h2>Key Features</h2>
            <ul>
                <li>
                    <%= image_tag "exercise_hp.jpeg", alt: "Workouts Icon" %>
                    Workouts
                </li>
                <li>
                    <%= image_tag "plans_hp.jpeg", alt: "Workouts Icon" %>
                    Goals
                </li>
                <li>
                   <%= image_tag "nutrition_hp.jpeg", alt: "Workouts Icon" %>
                    Nutrition 
                </li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; <%= Time.now.year %> Fitness App. All rights reserved.</p>
    </footer>
</body>
</html>
