<div id="<%= dom_id exercise_record %>">
  <p>
    <strong>Exercise:</strong>
    <%= exercise_record.exercise_id %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= exercise_record.time %>
  </p>

  <p>
    <strong>Speed:</strong>
    <%= exercise_record.speed %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= exercise_record.calories %>
  </p>

</div>
