<% if current_user %>
  <!-- Render user's goals -->
  <% @goals.each do |goal| %>
    <div>
      <h3><%= goal.name %></h3>
      <p><%= goal.description %></p>
      <p><strong>Start Date:</strong> <%= goal.start_date %></p>
      <p><strong>End Date:</strong> <%= goal.end_date %></p>
    </div>
  <% end %>
<%= link_to "Add New Goal", new_goal_path %>
<% else %>
  <!-- Render potential goals -->
  <% @potential_goals.each do |goal| %>
    <div>
      <h3><%= goal.name %></h3>
      <p><%= goal.description %></p>
    </div>
  <% end %>
<% end %>
