<!-- goals/index.html.erb -->
<section class="generic-goals">
  <h2>Generic Fitness Goals</h2>
  <ol>
    <li>Lose Weight</li>
    <li>Build Muscle</li>
    <li>Improve Flexibility</li>
  </ol>
</section>
<% if current_user %>
  <!-- Form to add new goal -->
  <%= form_with(model: Goal.new, url: goals_path, method: :post) do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
    <%= form.submit "Add Goal" %>
  <% end %>
<% end %>
