<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness App</title>
    <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <%= link_to root_path, class: "navbar-brand" do %>
                <%= image_tag "logo.png", alt: "SBZ Fitness Logo", class: "logo" %>
                SBZ Fitness
            <% end %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <%= link_to "Home", root_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Plans", plans_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Exercises", exercises_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Log In", login_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Sign Up", signup_path, class: "nav-link" %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



<h1>Goals</h1>

<!-- Display pre-defined goals -->
<h2>Pre-defined Goals</h2>
<ul>
  <li>Goal 1: Lose 10 pounds in 2 months</li>
  <li>Goal 2: Run a 5k race</li>
  <li>Goal 3: Increase muscle mass by weight training</li>
  <!-- Add more pre-defined goals as needed -->
</ul>
<% if current_user %>
  <h2>Existing Plans</h2>
<% end %>
<ul>
  <% @plans.each do |plan| %>
    <li><%= plan.title %>: <%= plan.description %></li>
  <% end %>
</ul>
<!-- Link/button to navigate to the page for adding new goals -->
<% if current_user %>
  <%= link_to "Add Your Own Goal", new_plan_path, class: "btn btn-primary" %>
<% end %>
</body>
</html>
