<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness App</title>
    <%= stylesheet_link_tag 'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap CSS -->
    <!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->
    

</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <%= link_to root_path, class: "navbar-brand" do %>
                <%= image_tag "logo.png", alt: "SBZ Fitness Logo", class: "logo" %>
                SBZ Fitness
            <% end %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <%= link_to "Home", root_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Plans", plans_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Exercises", exercises_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Log In", login_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Sign Up", signup_path, class: "nav-link" %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


<h1>Exercises</h1>

<% @exercises.each do |exercise| %>
  <div class="exercise">
    <h2><%= exercise.name %></h2>
    <div class="exercise-details">
      <div class="detail">Time</div>
      <div class="detail">Speed</div>
      <div class="detail">Calories</div>
    </div>
    <%= form_for ExerciseRecord.new, url: exercise_records_path do |f| %>
      <%= f.hidden_field :exercise_id, value: exercise.id %>
      <div class="exercise-inputs">
        <%= f.number_field :time, placeholder: "Time (minutes)" %>
        <%= f.number_field :speed, placeholder: "Speed (mph)" %>
        <%= f.number_field :calories, placeholder: "Calories" %>
      </div>
      <%= f.submit "Add Record", class: "btn btn-primary" %>
    <% end %>
  </div>

<table>
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Time</th>
      <th>Speed</th>
      <th>Calories</th>
    </tr>
  </thead>
  <tbody>
    <% @exercise_records.each do |record| %>
      <tr>
        <td><%= record.exercise.name %></td>
        <td><%= record.time %></td>
        <td><%= record.speed %></td>
        <td><%= record.calories %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
</body>
</html>
